.top h1 {
  color: aliceblue;
  margin-right: 600px;
  font-size: 22;
}
.top {
  display: flex;
  /* display: inline; */
  /* padding: 10px; */
  flex: auto;
  margin-top: 50px;
  /* justify-content: space-evenly; */
  /* outline: black 10px solid; */
}
.top button {
  /* padding: 6px; */
  margin: 3px;
  font-size: 16px;
  /* margin-bottom: 10px; */
}
#orange {
  color: orange;
  border-color: orange;
}

#turq {
  color: turquoise;
  border-color: turquoise;
}

#purombre {
  color: rgb(111, 51, 231);
  /* actually make ombre lol */
  border-color: rgb(226, 63, 251);
  border: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(199, 70, 252, 1) 100%
  );
}
#orangeb {
  background-color: orange;
  color: aliceblue;
}
#turqb {
  background-color: turquoise;
  color: aliceblue;
}
#purombreb {
  color: aliceblue;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(199, 70, 252, 1) 100%
  );
}

h2 {
  color: aliceblue;
}

.sumStat {
  width: 370px;
  height: 220px;
  font-size: 16px;
  border-radius: 3%;
}
.smolStat {
  width: 370px;
  height: 120px;
  font-size: 16px;
  border-radius: 3%;
}
.sumStat p {
  margin-left: 6px;
  /* font-size: 20px; */
}

.stats {
  display: flex;
  margin-top: 15px;
  grid-gap: 15px;
}
.mas {
  display: flex;
  color: aliceblue;
  grid-gap: 15px;
}

.content {
  margin-left: 200px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.red {
  background-color: brown;
}
.brightred {
  background-color: crimson;
}

#butO,
#butP,
#butT {
  text-decoration: none;
  display: block;
  /* color: orange; */
  text-align: center;
  padding: 16px;
}
#butO {
  color: orange;
}
#butP {
  color: plum;
}
#butT {
  color: turquoise;
}
.bolder {
  font-weight: bolder;
  font-size: 30px;
}
.sumStat p,
.smolStat p {
  padding-left: 10px;
}
