/* .navbar {
  display: inline;
  display: flex;
} */
* {
  /* background-color: rgb(21, 156, 111); */
  /*this takes out sidebar thing*/
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a,
.signUp a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover,
.signUp a:hover {
  background-color: #111111;
}

.logo {
  float: right;
}

.signUp {
  background-color: aquamarine;
  color: #111111;
  /* css isnt working on mui here */
}
